# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\My Projects\deedeeshaw.github.io\The MET\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
